body {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-areas: 
            "graph circles"
            "info logo";
    max-width: 100vw;
    max-height: 100vh;
}

:root {
    --main-bg-color: #000;
    --secondary-bg-color: rgb(58, 57, 57);
    --circle1-bg-color: blue;
    --circle2-bg-color: red;
    --circle3-bg-color: orange;
    --circle4-bg-color: yellow;
    --circle5-bg-color: green;
    
}

.graph {
    grid-area: graph;
    
    width: 100%;
    


}

#path589 {
    

}

.container {
    height: 75vh;

}

.graph img {
    width: 150%;
    margin-left: calc(-150% /2 - 1.3%);
    margin-top: 10vh;

   

    transform: rotate(180deg);
    animation: rotate 3s linear forwards;
    animation-delay: 3s;


}
@keyframes rotate {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.circles {
    grid-area: circles;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    
}

.circles li{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 3vh;
    
}

.circles li:nth-of-type(1) {
    background-color: var(--circle1-bg-color);
    width: 16vw;
    height: 16vw;
}

.circles li:nth-of-type(2) {
    background-color: var(--circle2-bg-color);
    width: 14vw;
    height: 14vw;
}

.circles li:nth-of-type(3) {
    background-color: var(--circle3-bg-color);
    width: 12vw;
    height: 12vw;
    margin-right: 20vw;
}

.circles li:nth-of-type(4) {
    background-color: var(--circle4-bg-color);
    width: 10vw;
    height: 10vw;
}

.circles li:nth-of-type(5) {
    background-color: var(--circle5-bg-color);
    width: 8vw;
    height: 8vw;
}


.info {
    grid-area: info;



}

.info ul{
    background-color: var(--secondary-bg-color);
    list-style: none;


}

.logo {
    grid-area: logo;

}